.card-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.card {
    display : flex;
    max-width : 90%;
    height: 15rem;
    flex-direction: column;
    align-items: center;
    border : 1px solid black;
    background-color : #ffffff80;
    margin : 0.5rem;
    padding : 0.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.big-card {
    height: 30rem;
}

.edit-character {
    width: 3rem;
    height: 2rem;
    background: var(--color-engine-button);
    text-decoration: none;
    font-family: "Lancelot", serif;
    color: #4d352b;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    opacity: 0.9;
    margin-top: 1rem;
}

.edit-character:hover {
    background: var(--color-engine-button-hover);
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.delete {
    position:relative;
    width: 17px;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    background-color: rgba(255, 0, 0, 0.267) ;
    justify-content: center;
    align-items: center;
    top: -8px;
    right: -50%;
    border-radius: 0px 8px 0px 8px;
    padding: 2px 6px 2px 6px ;
}

.edit-character-form {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top : 1px solid grey;
    margin-top: 1rem;
    padding : 0.3rem;
    height: 100%;
    gap: 1rem;
}

.character-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.cancel-add-character {
    display: none;
}

.cancel-add-character {
    display: none;
}

.edit-visible {
    display: flex;
}

.submit {
    width: 8rem;
    height: 1.5rem;
    background: var(--color-engine-button);
    text-decoration: none;
    font-family: "Lancelot", serif;
    color: #4d352b;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    opacity: 0.9;
    margin-top: .2rem;
}

.submit:hover {
    background: var(--color-engine-button-hover);
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.del-sprite {
    width: 8rem;
    height: 1.5rem;
    background: rgba(255, 183, 183, 0.57);
    text-decoration: none;
    font-family: "Lancelot", serif;
    color: #4d352b;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    opacity: 0.9;
    margin-top: .5rem;
}

.del-sprite:hover {
    background: rgba(255, 240, 240, 0.57);
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.add-card {
    display : flex;
    justify-content: center;
    align-items: center;
    background: none;
}



.add-character {

    margin: auto;
    color: rgba(75, 75, 75, 0.57);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size : 5rem;
    text-decoration: none;
    background: none;
    border : 2px solid black;
    border-color: rgba(75, 75, 75, 0.57);
    border-radius: 10px;
    padding-bottom: 10px;
}

.add-hidden {
    display: none;
    border : 2px solid black;
}

.add-character:hover {
    color: rgba(238, 238, 238, 0.57);
    border-color: rgba(238, 238, 238, 0.57);
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.delete-add {
    position: relative;
    top: -77%;
    left: 94%;
}

.sprite-wrapper {
    height: 7rem;
    width: auto;
}

.sprite-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
