#main-add-scene {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../images/backgrounds/home.png);
    position: relative;
}

#main-add-scene .links-back #back-stories,
#main-story .links-back #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 3rem;
    color: var(--color-text);
    margin: .5rem .8rem;
    text-decoration: none;
    font-family: 'Lancelot';
    font-size: 1rem;
    padding: .5rem;
}


#main-add-scene #back-stories img,
#main-add-scene #home img {
    width: 2rem;
    height: 2rem;
    padding-bottom: .3rem;
}


#main-add-scene .links-back {
    width: 99%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 3rem;
}


#main-add-scene #back-stories {
    width: 10rem;
    height: 3rem;
    color: var(--color-text);
    margin: -2.5rem .5rem 2rem -.5rem;
    text-decoration: none;
    font-family: 'Lancelot';
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-add-scene #back-stories a {
    width: 18rem;
    height: 3rem;
    color: var(--color-text);
    margin: 2rem 2rem 2rem 2rem;
    text-decoration: none;
    font-family: 'Lancelot';
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-add-scene #home {
    width: 10rem;
    height: 3rem;
    color: var(--color-text);
    margin: -2.5rem .5rem 2rem -.5rem;
    text-decoration: none;
    font-family: 'Lancelot';
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-add-scene #back-stories img {
    width: 2rem;
    height: 2rem;
}

#main-add-scene h1 {
    font-family: 'Julee';
    color: white;
    border-bottom: none ;
    font-size: 3rem;
    margin-top: 2rem;
}

#main-add-scene #container {
    width: 80%;
    height: 60%;
    opacity: .9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-add-scene #container h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

#main-add-scene form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: .9;
}

#main-add-scene form .title, #main-add-scene form .background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
}

#main-add-scene form .title label, #main-add-scene form .background label {
    color: black;
    font-family: 'Julee';
    font-size: 2.5rem;
    margin-bottom: .9rem;
    text-align: center;
}

#main-add-scene form .title input {
    width: 15rem;
    height: 2rem;
    margin-bottom: 3.5rem;
    background-color: rgb(223, 221, 221);
}

#main-add-scene form .background input {
    width: 15rem;
    height: 2.5rem;
    margin-top: .5rem;
    margin-bottom: 3.5rem;
}

#main-add-scene form #submit {
    width: 10rem;
    height: 2.5rem;
    padding: .2rem;
    font-family: 'Lancelot';
    font-size: 1.2rem;
    font-weight: 700;

}
