body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../images/backgrounds/home.png");
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

header {
    color: #fff;
    font-size: 1.5rem;
    font-family: "Julee", cursive;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 2rem 1rem;
    text-shadow: 1px 1px 2px black;
}

header h1 {
    text-shadow: 1px 1px 4px black;
    padding-top: 1rem;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    border-bottom: none;
}

header h2 {
    color: white;
    font-family: "Julee";
    text-shadow: 1px 1px 4px black;
    font-size: 1rem;
}

header #title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header #back-scenes,
header #home {
    width: 10rem;
    height: 3rem;
    color: var(--color-text);
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lancelot", serif;
}

header #back-scenes a,
header #home a {
    width: 18rem;
    height: 3rem;
    color: var(--color-text);
    margin: 2rem 2rem 2rem 2rem;
    text-decoration: none;
    font-family: "Lancelot";
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header #back-scenes img,
header #home img {
    width: 2rem;
    padding-bottom: 0.3rem;
    filter: drop-shadow(1px 1px 1px black);
}

header .edit-scene {
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px black);
}

#container {
    width: 90vw;
    height: 70vh;
    background: rgba(201, 200, 200, 0.6);
    padding: 2rem 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

#container h2 {
    color: white;
    font-size: 2.5rem;
    margin: 1rem 0;
    font-family: "Julee";
    text-shadow: 1px 1px 4px black;
}

#container #scene-background {
    display: none;
}

.edit-scene-form,
.edit-character-form,
.edit-dialogue-form,
.edit-choice-form,
.add-character-form,
.add-dialogue-form,
.add-choice-form,
.hidden-choices,
.hidden_dialogue,
.hidden,
.title {
    display: none;
}

.visible {
    display: inline-block;
}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    height: 100%;
}

.categories h3 {
    display: flex;
    justify-content: center;
}

.view {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 6px 0px inset,
        rgba(0, 0, 0, 0.5) -3px -3px 6px 1px inset;
    backdrop-filter: blur(4px);
}

#character-view {
    grid-area: 1 / 1 / 3 / 2;
}

#dialogue-view {
    padding: 10px;
    grid-area: 1 / 2 / 2 / 3;
}

#choice-view {
    padding: 10px;
    grid-area: 2 / 2 / 3 / 3;
}

#dialogue-view button,
#choice-view button {
    line-height: 24px;
    display: inline;
    height: 1.8rem;
    background: var(--color-engine-button);
    text-decoration: none;
    font-family: "Lancelot", serif;
    color: #4d352b;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    opacity: 0.9;
    margin-top: 1rem;
    padding: 4px;
}

#dialogue-view button:hover,
#choice-view button:hover {
    background: var(--color-engine-button-hover);
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#dialogue-view button.del_dial,
#choice-view button.del_choice {
    background: rgba(255, 183, 183, 0.57);
}

#dialogue-view button.edit-dialogue,
#choice-view button.edit-choice {
    margin-left: 2px;
    margin-right: 10px;
}

#dialogue-view h4 {
    flex: 0 0 90%;
    display: inline-block;
    margin: 0;
    font-size: 1.17rem;
}

#dialogue-view div {
    line-height: 15px;
}

#dialogue-view p {
    font-size: 1.2rem;
}

.dialogue-container {
    display: flex;
    justify-content: space-between; /* Align items with space between */
    align-items: center; /* Center items vertically */
}

#dialogue-view input,
#dialogue-view select,
#dialogue-view input[type="submit"] {
    background: var(--color-engine-button);
    color: var(--color-engine-button);
}

a {
    text-decoration: underline;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #4d352b;
}
/* #dialogue-view .input[type="textarea"] {
    display: block;
    width: 100px;
    height: 800px;
} */

#dialogue-view button.add-dialogue,
#choice-view button.add-choice {
    display: block;
    margin: auto;
    text-align: center;
    line-height: 19px;
    margin-top: 1rem;
    font-size: 1rem;
}

#choice-view li.choice-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#choice-view li.choice-item > p {
    display: inline-block;
    margin: 0;
    font-size: 1.17rem;
}

#choice-view li.choice-item {
    display: flex;
    align-items: center;
}

#choice-view li.choice-item > a {
    text-align: center;
    margin: auto;
}

#choice-view li.choice-item .del_choice {
    margin-left: auto;
}

li {
    list-style-type: none;
}

form {
    width: 98%;
    display: flex;
    justify-content: space-evenly;
    padding: .2rem .8rem;
}

form #dialogue_body, form select {
    height: 1.5rem;
    margin-right: .3rem;
    padding: .2px;
}

form #submit {
    width: 3.5rem;
    height: 1.5rem;
    margin-top: -1.5rem;
    margin-left: .2rem;
}

form .cancel-add-dialogue {
    margin-left: .3rem;
    padding: auto 0;
    width: 1.8rem;
}

