body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../images/backgrounds/home.png');
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

header {
    color: #fff;
    font-size: 1.5rem;
    font-family: "Julee", cursive;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 2rem 1rem;
    text-shadow: 1px 1px 2px black;
}

header h1 {
    text-shadow: 1px 1px 4px black;
    padding-top: 1rem;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    border-bottom: none;
}

header h2 {
    color: white;
    font-family: 'Julee';
    text-shadow: 1px 1px 4px black;
    font-size: 1rem;
}

header #title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header #back-scenes,
header #home {
    width: 10rem;
    height: 3rem;
    color: var(--color-text);
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lancelot", serif;
}

header #back-scenes a,
header #home a {
    width: 18rem;
    height: 3rem;
    color: var(--color-text);
    margin: 2rem 2rem 2rem 2rem;
    text-decoration: none;
    font-family: 'Lancelot';
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header #back-scenes img,
header #home img {
    width: 2rem;
    padding-bottom: 0.3rem;
    filter: drop-shadow(1px 1px 1px black);
}

#container {
    width: 90%;
    height: 60%;
    background: rgba(201, 200, 200, 0.6);
    padding: 2rem 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    overflow-y: auto;
    position: relative;
}

#container h2 {
    color: white;
    font-size: 2.5rem;
    margin: 1rem 0;
    font-family: 'Julee';
    text-shadow: 1px 1px 4px black;
}

#container #background {
    display: none;
}

.edit-scene-form,
.edit-character-form,
.edit-dialogue-form,
.edit-choice-form,
.add-character-form,
.add-dialogue-form,
.add-choice-form,
.hidden-choices,
.hidden_dialogue,
.hidden {
    display: none;
}

.visible {
    display: inline-block;
}
