#main-stories {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../images/backgrounds/home.png);
    position: relative;
}

#main-stories #home {
    width: 6rem;
    height: 6rem;
    color: var(--color-text);
    margin: 1rem 2rem 2rem 35rem;
    text-decoration: none;
    font-family: 'Lancelot';
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-stories #home .home {
    margin: .5rem 2rem;
    width: 6rem;
    height: 6rem;
    text-align: center;
    color: white;
    text-decoration: none;
}

#main-stories #home .home img {
    width: 2rem;
    height: 2rem;
    margin: .5rem 2rem;
}

#main-stories #home .home  {
    text-align: center;
}

#main-stories h1 {
    font-family: 'Julee';
    color: white;
    border-bottom: none ;
    font-size: 3rem;
    margin-top: -2rem;
    margin-bottom: 2rem;
}

#main-stories #container {
    width: 90%;
    height: 60%;
    background: rgb(201, 200, 200, .65);
    padding: 2rem 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    overflow-y: auto;
    position: relative;
}

#main-stories #container .storiesDetails {
    width: 100%;
    height: 3.5rem;
    font-size: .8rem;
    font-family: 'Lancelot';
    display: flex;
    margin: .5rem 0;
    margin-right: .5rem;
    padding: 2rem;
    align-items: center;
    background: #fef8e2;
    justify-content: space-between;
    border-width: 4px;
    border-style: solid;
    border-image: radial-gradient(circle, rgba(195,165,34,1) 0%, rgba(130,95,16,1) 100%);
    border-image-slice: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#main-stories #container .storiesDetails .name {
    width: 70%;
    padding: .5rem;
    display : flex;
    justify-content: center;
    margin-left: 10rem;
    font-size: 1.5rem;
}

#main-stories #container .storiesDetails .name a {
    text-decoration: none;
    color: #000;
}

#main-stories #container .storiesDetails .icon {
    width: 2rem;
    height: 2rem;
    margin: 0 10px;
}

#main-stories #addStoryLink {
    width: 15rem;
    height: 3rem;
    margin-top: 1.5rem;
    margin-left: 28rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Lancelot';
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 15px;
    opacity: .6;
}

.icons a {
    cursor: pointer;
}
