#main-story {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../images/backgrounds/home.png);
    position: relative;
}

#main-story #home {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    width: 10rem;
    height: 3rem;
    color: var(--color-text);
    text-decoration: none;
    font-family: 'Lancelot';
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-story #home img {
    width: 2rem;
    height: 2rem;
    margin-bottom: .5rem;
}

#main-story h1 {
    color: white;
    font-size: 5rem;
    text-decoration: none;
    border-bottom: none;
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    font-family: 'Julee';
    text-shadow: 1px 1px 2px black;
}

#main-story #container {
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    background: rgb(201, 200, 200, .35);
    border-radius: 15px;
}

#main-story #container li {
    width: 60vw;
    height: auto;
    background-color: rgba(82, 80, 80, 0.692);
    padding: 1rem;
    margin: .8rem;
    font-family: var(--font-text);
    color: #f1f1f1;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    list-style-type:none ;
}

#main-story ul li a{
    height: auto;
    padding: 1rem;
    margin: .8rem;
    font-family: var(--font-text);
    color: #f1f1f1;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    list-style-type:none ;
}

#main-story ul li:hover {
    background-color: var(--color-text);
    font-size: 2.2rem;
    color: var(--color-button-hover);
}

#main-story ul li:hover a {
    color: black;
}
