{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Story Teller</h1>
    <a href="/story">Sélectionner une histoire</a>
    <a href="/storycreation">Éditer mes histoires</a>
    <a href="/options">Options</a>
{% endblock %}
