{% extends 'layout.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block content %}
<main id="main-home">
    <section id="container">
        <h1>Story Teller</h1>
        <a href="/story">Sélectionner une histoire</a>
        <a href="/story/engine">Éditer mes histoires</a>
        <a href="/options">Options</a>
    </section>

</main>
{% endblock %}
