/* variables  */
:root {
    --color-textbox: rgba (0, 0, 0, 0.65);
    --color-text: white;
    --color-narration: #ffb55e;
    --color-continue: rgba(217, 217, 217, 0.25);
    --color-button-hover: rgba(217, 217, 217, 0.6);
    --font-title: "Julee", cursive;
    --font-text: "Lancelot", serif;
    --font-continue: "Kaisei Decol", serif;
}

/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font-size: var(--font-text);
}

#mainAddScene {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/backgrounds/home.png);
    position: relative;
}

#mainAddScene .linksBack {
    width: 99%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 3rem;
}


#mainAddScene #backStories {
    width: 10rem;
    height: 3rem;
    color: var(--color-text);
    margin: -2.5rem .5rem 2rem -.5rem;
    text-decoration: none;
    font-family: 'Lancelot';
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainAddScene #backStories a {
    width: 18rem;
    height: 3rem;
    color: var(--color-text);
    margin: 2rem 2rem 2rem 2rem;
    text-decoration: none;
    font-family: 'Lancelot';
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainAddScene #home {
    width: 10rem;
    height: 3rem;
    color: var(--color-text);
    margin: -2.5rem .5rem 2rem -.5rem;
    text-decoration: none;
    font-family: 'Lancelot';
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainAddScene #backStories img {
    width: 2rem;
    height: 2rem;
}

#mainAddScene h1 {
    font-family: 'Julee';
    color: white;
    border-bottom: none ;
    font-size: 3rem;
    margin-top: 2rem;
}

#mainAddScene #container {
    width: 80%;
    height: 60%;
    opacity: .9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainAddScene #container h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

#mainAddScene form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: .9;
}

#mainAddScene form .title, #mainAddScene form .background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
}

#mainAddScene form .title label, #mainAddScene form .background label {
    color: black;
    font-family: 'Julee';
    font-size: 2.5rem;
    margin-bottom: .9rem;
    text-align: center;    
}

#mainAddScene form .title input {
    width: 15rem;
    height: 2rem;
    margin-bottom: 3.5rem;
    background-color: rgb(223, 221, 221);
}

#mainAddScene form .background input {
    width: 15rem;
    height: 2.5rem;
    margin-top: .5rem;
    margin-bottom: 3.5rem;
}

#mainAddScene form #submit {
    width: 10rem;
    height: 2.5rem;
    padding: .2rem;
    font-family: 'Lancelot';
    font-size: 1.2rem;
    font-weight: 700;

}