#main-home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/backgrounds/home.png);
}

#main-home #container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#main-home #container h1 {
    font-size: 5rem;
    font-family: var(--font-title);
    color: white;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

#main-home #container a {
    width: 60vw;
    height: auto;
    background-color: rgba(82, 80, 80, 0.692);
    padding: 1rem;
    margin: .8rem;
    font-family: var(--font-text);
    color: #f1f1f1;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    list-style-type:none ;
}

#main-home #container a:hover {
    color: black;
}

