/* variables  */
:root {
    --color-textbox: rgba (0, 0, 0, 0.65);
    --color-text: white;
    --color-narration: #ffb55e;
    --color-continue: rgba(217, 217, 217, 0.25);
    --color-button-hover: rgba(217, 217, 217, 0.6);
    --font-title: "Julee", cursive;
    --font-text: "Lancelot", serif;
    --font-continue: "Kaisei Decol", serif;
}

/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font-size: var(--font-text);
}

#mainStories {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/backgrounds/home.png);
    position: relative;
}

#mainStories #home {
    width: 6rem;
    height: 6rem;
    color: var(--color-text);
    margin: 1rem 2rem 2rem 35rem;
    text-decoration: none;
    font-family: 'Lancelot';
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainStories #home .home {
    margin: .5rem 2rem;
    width: 6rem;
    height: 6rem;
    text-align: center;
    color: white;
    text-decoration: none;
}

#mainStories #home .home img {
    width: 2rem;
    height: 2rem;
    margin: .5rem 2rem;
}

#mainStories #home .home  {
    text-align: center;
}

#mainStories h1 {
    font-family: 'Julee';
    color: white;
    border-bottom: none ;
    font-size: 3rem;
    margin-top: -2rem;
    margin-bottom: 2rem;
}

#mainStories #container {
    width: 90%;
    height: 60%;
    background: rgb(201, 200, 200, .65);
    padding: 2rem 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    overflow-y: auto;
    position: relative;
}

#mainStories #container .storiesDetails {
    width: 97%;
    height: 3.5rem;
    font-size: .8rem;
    font-family: 'Lancelot';
    display: flex;
    align-items: center;
    margin: .5rem 0;
}

#mainStories #container .storiesDetails .storyDetails {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: .5rem;
    background: white;
}

#mainStories #container .storiesDetails .storyDetails .name {
    width: 70%;
    padding: .5rem;
    font-style: oblique;
}

#mainStories #container .storiesDetails .storyDetails .name a {
    text-decoration: none;
    color: #000;
}

#mainStories #container .storiesDetails .storyDetails .details {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}


#mainStories #container .storiesDetails .storyEdit, #mainStories #container .storiesDetails .storyShow, #mainStories #container .storiesDetails .storyDelete  {
    width: 3.5rem;
    height: 3.5rem;
    background: white;
    margin: 0 .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainStories #container .storiesDetails .icon {
    width: 2rem;
    height: 2rem;
}

#mainStories #addStoryLink { 
    width: 15rem;
    height: 3rem;
    margin-top: 1.5rem;
    margin-left: 28rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Lancelot';
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 15px;
    opacity: .6;
}

.storyDelete a {
    cursor: pointer;
}

