/* variables  */
:root {
    --color-textbox: rgba (0, 0, 0, 0.65);
    --color-text: white;
    --color-narration: #ffb55e;
    --color-continue: rgba(217, 217, 217, 0.25);
    --color-button-hover: rgba(217, 217, 217, 0.6);
    --font-title: "Julee", cursive;
    --font-text: "Lancelot", serif;
    --font-continue: "Kaisei Decol", serif;
}

/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font-size: var(--font-text);
}

#mainStory {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;   
    justify-content: start;
    align-items: center; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    background-image: url(../images/backgrounds/home.png);
}

#mainStory .linksBack {
    width: 99%;
    display: flex;
    justify-content: space-between;
    padding: .5rem .5rem;
    margin-top: 2rem;
}

#mainStory .linksBack #backStories, #mainStory .linksBack #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 3rem;
    color: var(--color-text);
    margin: .5rem .8rem;
    text-decoration: none;
    font-family: 'Lancelot';
    font-size: 1rem;
    padding: .5rem;
}


#mainStory #backStories img, #mainStory #home img {
    width: 2rem;
    height: 2rem;
    padding-bottom: .3rem;
}

#mainStory h1 {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    border-bottom: none;
    margin-top: -2rem;
    font-family: 'Julee';
}

#mainStory nav {
    width: 70%;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: .5rem 0;
}

#mainStory nav a {
    text-decoration: none;
}

#mainStory nav a h2 {
    color: white;
    font-size: 1.5rem;
    margin: 1.5rem 0 1rem .5rem;
    font-family: 'Julee';
    padding: .5rem 2rem;
    text-align: center;
    background-color: rgba(82, 80, 80, 0.692);
    border-radius: 5px;
    text-decoration: none;
}

#mainStory nav a h2:hover {
    color: rgba(82, 80, 80, 0.692);
    font-size: 1.5rem;
    margin: 1.5rem 0 1rem .5rem;
    font-family: 'Julee';
    padding: .5rem 2rem;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

#mainStory #container {
    width: 90%;
    height: 60%;
    margin-top: .5rem;
    background: rgb(201, 200, 200, .65);
    padding: 2rem 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    overflow-y: auto;
    position: relative;
}

#mainStory #container .sceneList, #mainStory #container .characterList, #mainStory #container .ressourcesList {
    width: 97%;
    height: 3.5rem;
    font-size: .8rem;
    font-family: 'Lancelot';
    display: flex;
    align-items: center;
    margin: .5rem 0;
}

#mainStory #container .characterList, #mainStory #container .ressourcesList {
    display: none;
}

#mainStory #container .sceneList .name {
    width: 70%;
    padding: .5rem;
    font-style: oblique;
    background-color: white;
    height: 3rem;
    font-size: 1.5rem;
}

#mainStory #container .sceneList .name a {
    text-decoration: none;
    color: #000;
}

#mainStory #container .sceneList #sceneEdit {
    display: flex;
    width: 30%;
    margin-left: 1.5rem;    
}

#mainStory #container .sceneList #sceneEdit .edit {
    width: 3.1rem;
    height: 3.1rem;
    background: white;
    margin: 0 .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainStory #container .sceneList #sceneEdit .edit .icon {
    width: 2rem;
    height: 2rem;
}

#mainStory #addSceneLink { 
    width: 15rem;
    height: 3rem;
    margin-top: 1.5rem;
    margin-left: 28rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Lancelot';
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 15px;
    opacity: .6;
}

.edit a {
    cursor: pointer;
}



