body {
    margin: 0;
    --color-textbox: rgba (0,0,0,0.65);
    --color-text:white;
    --color-narration: #FFB55E;
    --color-continue: rgba(217, 217, 217, 0.25);
    --color-button-hover: rgba(217, 217, 217, 0.6);
}
