body,
h2,
p,
button {
    font-size: 24px;
    color: white;
    text-align: center;
}
button {
    all: unset;
    border: 2px solid grey;
    background-color: darkolivegreen;
}
#container {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialogue-box,
.choices {
    width: 80%;
    margin: 20px 0;
}

.dialogue-box img {
    display: block;
    margin: 0 auto;
}

.dialogue-body {
    margin: 10px 0;
}

.choice-button,
#continue-button {
    display: block;
    margin: 10px auto;
}
