/* General styles */
Styles généraux pour le conteneur * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    font-family: "Julee", cursive;
}

.h-full {
    height: 100%;
}
.w-full {
    width: 100%;
}
.text-white {
    color: white;
}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-grow {
    flex-grow: 1;
}

/* Button styles */
.btn-style {
    height: fit-content;
    padding: 12px;
    border-radius: 1rem;
    border: 1px solid;
}

/* Container styles */
.ml-10 {
    margin-left: 2.5rem;
}
.relative {
    position: relative;
}
.top-20 {
    top: 5rem;
}
.dialogue-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.dialogue-content {
    background-color: rgba(15, 23, 42, 0.8);
    border: 2px solid #334155;
    display: flex;
    flex-direction: column;
    width: 33.33%;
    border-radius: 1rem;
    height: 300px;
    padding: 8px;
    margin-bottom: 2.5rem;
    text-align: left;
}
.character-name {
    padding: 8px;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-align: left;
}
.dialogue-body {
    padding: 8px;
    flex-grow: 1;
    font-size: 2rem;
    color: rgb(226, 209, 75);
}
.choices {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: fit-content;
    position: relative;
    bottom: 5rem;
}
.choice-link {
    /* background-color: #334155;
    padding: 12px;
    border: 1px solid;
    color: white;
    text-decoration: none;
    border-radius: 1rem; */
    width: auto;
    margin: 1.25rem;
    transition: all 0.1s;
}
.choice-link:hover {
    background-color: #d9d9d9;
    transform: scale(0.99);
}

/* Character sprite styles */
.character-sprite {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 33.33%;
    height: auto;
}
.sprite {
    object-fit: contain;
    min-height: 500px;
}

/* Continue button styles */
.continue-button-container {
    display: flex;
    justify-content: flex-end;
    width: 33.33%;
    margin-left: 2.5rem;
    align-items: center;
    height: fit-content;
    min-height: 60px;
}
.continue-button {
    background: none;
    color: white;
    border: 2px solid #334155;
    padding: 12px;
    position: relative;
    bottom: 2rem;
    right: 1.75rem;
    transition: all 0.1s;
}
.continue-button:hover {
    background-color: #1e293b;
    border-color: white;
    transform: scale(0.98);
}
/* Choices container */
.choices {
    display: none;
}
#brushImg {
    background-image: url(/assets/images/backgrounds/brush.png);
    background-position: center;
    background-size: cover;
    height: fit-content;
}

@keyframes animationAppears {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.appears {
    animation: animationAppears 0.5s linear;
}
