{% extends 'layout.html.twig' %}

{% block content %}
<form method="post">
<label for="name"> title : </label>
<input type="text" name="name" id="name">
<label for="background"> background : </label>
<input type="text" name="background" id="background">
<input type="submit">
{% endblock %}
