{% extends 'layout.html.twig' %}

{% block head_extra %}
<link rel="stylesheet" href="/assets/css/engine/scene.css">
<script src="/assets/js/edit.js" defer></script>
{% endblock %}

{% block content %}
  <header>
    <a href="/story/engine/show?id={{ story.id }}" id="back-scenes">
      <img src="/assets/images/icones/story.svg" alt="retour aux scènes"> Scènes
    </a>
    <div id="title">
      <h1>Scène : {{scene.name | raw }}</h1>
      <h2>Histoire : {{ story.name | raw }} </h2>
    </div>
    <a href="/" id="home">
      <img src="/assets/images/icones/home.svg" alt="retour à l'accueil"> Home
    </a>
  </header>
  <main id="main-scene">
    <section id="container">
      <img id="background" src={% if scene.background %}{{ '/assets/images/backgrounds/' ~ scene.background | raw }}{% else %}""{% endif %} alt="Background">
        {% include 'SceneCreation/_scene_edit_form.html.twig' %}

        <h2>Personnages :</h2>
        <div id="character_form">
        {% include 'SceneCreation/_character_form.html.twig' %}
        </div>

        <h2>Répliques :</h2>
        <div id="dialogue_form">
        {% include 'SceneCreation/_dialogue_form.html.twig' %}
        </div>

        <h2>Choix :</h2>
        <div id="choice_form">
        {% include 'SceneCreation/_choice_form.html.twig' %}
        </div>
    </section>
  </main>
{% endblock %}
