{% extends 'layout.html.twig' %}

{% block head_extra %}
<script src="/assets/js/edit.js" defer></script>
{% endblock %}

{% block content %}
  <p>Histoire :
    {{ story.name }}
  </p>
  <a href="/storycreation/show?id={{ story.id }}">Retour à l'histoire</a>
  
  <h1>{{scene.name}}</h1>

  <h2>Personnages :</h2>
  {% include 'SceneCreation/_character_form.html.twig' %}

  <h2>Répliques :</h2>
  {% include 'SceneCreation/_dialogue_form.html.twig' %}
  
  <h2>Choix :</h2>
  {% include 'SceneCreation/_choice_form.html.twig' %}
{% endblock %}