{% extends 'layout.html.twig' %}

{% block head_extra %}
<link rel="stylesheet" href="/assets/css/engine/scene.css">
<script src="/assets/js/edit.js" defer></script>
{% endblock %}

{% block content %}
  <header>
    <a href="/story/engine/show?id={{ story.id }}" id="back-scenes">
      <img src="/assets/images/icones/story.svg" alt="retour aux scènes"> Scènes
    </a>
    <div id="title">
      <h1>Scène : {{scene.name | raw }}</h1>
      <h2>Histoire : {{ story.name | raw }} </h2>
    </div>
    <a href="/" id="home">
      <img src="/assets/images/icones/home.svg" alt="retour à l'accueil"> Home
    </a>
  </header>
  <main id="main-scene">
    <section id="container">
        <img id="background" height=300 width=300 src="/assets/images/backgrounds/{{scene.background | raw}}" alt="Background">
        {% include 'SceneCreation/_scene_edit_form.html.twig' %}

        <button id="character-button">Personnages :</button>
        <button id="dialogue-button">Répliques :</button>
        <button id="choice-button">Choix :</button>

        <div id="character-view">
        {% include 'SceneCreation/_character_form.html.twig' %}
        </div>


        <div id="dialogue-view" class="hidden">
        {% include 'SceneCreation/_dialogue_form.html.twig' %}
        </div>


        <div id="choice-view" class="hidden">
        {% include 'SceneCreation/_choice_form.html.twig' %}
        </div>
    </section>
  </main>
{% endblock %}
