{% extends 'layout.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="/assets/css/engine/story.css">
{% endblock %}
{% block content %}
<main id="main-stories">
    <div id="home">
        <a href="/" class="home">
            <img src="/assets/images/icones/home.svg" alt="Icone Home" id="home">Home
        </a>
    </div>
    <h1>Vos Histoires</h1>
    <section id="container">
        {% for story in stories %}
            <article class="storiesDetails">
                <div class="name">
                    <a href="/story/engine/show?id={{ story.id }}"><h2>{{ story.name | raw }}</h2></a>
                </div>
                <div class="icons">
                    <a href="/story/scene/start?story_id={{ story.id }}"><img src="/assets/images/icones/play.svg" alt="play icon" class="icon"></a>
                   <a
                        onclick="if(confirm('Êtes vous sûr de vouloir supprimer cette histoire ?'))
                        { window.location.href='/story/engine/delete?id={{story.id}}';}">
                        <img src="/assets/images/icones/trash.svg" alt="trash icon" class="icon">
                    </a>
                </div>
            </article>
        {% endfor %}
    </section>
    <a href="/story/engine/add" id="addStoryLink">Créer une histoire</a>
</main>
{% endblock %}
