{% extends 'layout.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="/assets/css/storyCreation.css">
{% endblock %}
{% block content %}
<main id="mainStories">
    <div id="home">
        <a href="/" class="home">
            <img src="/assets/images/icones/home.svg" alt="Icone Home" id="home">Home
        </a>
    </div>
    <h1>Vos Histoires</h1>
    <section id="container">
        {% for story in stories %}
            <article class="storiesDetails">
                <div class="storyDetails">
                    <div class="name">
                        <h2><a href="/story/scene/start?storyId={{ story.id }}">{{ story.name }}</a></h2>
                    </div>
                    <div class="details">
                        <h3>Nb scenes : </h3>
                        <h3>Date création : </h3>
                    </div>
                </div>
                <div class="storyEdit">
                    <a href="/story/engine/show?id={{ story.id }}"><img src="/assets/images/icones/pen.svg" alt="pen icon" class="icon"></a>
                </div>
                <div class="storyShow">
                    <a href=""><img src="/assets/images/icones/preview.svg" alt="preview icon" class="icon"></a>
                </div>
                <div class="storyDelete">
                    <a
                        onclick="if(confirm('Êtes vous sûr de vouloir supprimer ce choix ?'))
                        { window.location.href='/story/engine/delete?id={{story.id}}';}">
                        <img src="/assets/images/icones/trash.svg" alt="trash icon" class="icon">
                    </a>
                </div>
            </article>
        {% endfor %}
    </section>
    <a href="/story/engine/add" id="addStoryLink">Créer une histoire</a>
</main>
{% endblock %}
