{% extends 'layout.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="/assets/css/tale/story.css">
{% endblock %}
{% block content %}
<main id="main-story">
  <a href="/" id="home"><img src="/assets/images/icones/home.svg" alt="Icone Home">Home</a>
  <h1>Les histoires</h1>
  <ul id="container">
    {% for story in stories %}
      <li>
        <a href="/story/scene/start?story_id={{ story.id }}">
          {{ story.name | raw }}
        </a>
      </li>
    {% endfor %}
  </ul>
</main>
{% endblock %}
