{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Story Teller</h1>
    <ul>
        {% for story in stories %}
            <li><a href="/story/show/?id={{ story.id }}">{{ story.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

